body {
	color: #000;
}
a:hover {
	text-decoration: none;
}
.custom-color, a:hover {
	color: #1968b1;
}
#logo-bar {
	border-bottom: 1px solid #1968b1;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.subHead{
	background-color: #f7f7f7;
}
#logo-bar {
	padding: 10px;
	min-height: 30px;	
}
.itemHead{
	min-height: 40px;
	border-bottom: 1px solid #b3b8bd;
}
.itemHead button{	
	margin-top: 5px;
}
.mainHead{
	padding-top: 7px;
	padding-left: 10px;
}
.subHead div .muted{
	padding-top: 5px;
	padding-left: 10px;
}
.spacer{
	margin-top: 17px;
	margin-left: 35px;
}
.itemborder{
	border: 1px solid #cccccc;
}
.error{
	border: 1px solid red !important;
	background-color: #f3d8dc !important;
}

.size-mandatory{
	font-size: 0.8em;
	font-style:italic;
	
}
.eachAccount{
	cursor: pointer;
}
.eachAccount:hover{
	cursor: pointer;
	color:#0088CC;
}

/*Overwrite Bootstrap*/
.table th, .table td{
	border: none;
}
footer {
	margin-top: 12%;
	font-size: 0.8em;
}
footer > p {
	text-align: center;
}
